@charset "utf-8";
/* CSS Document */

/* reset.css */
body,h1,h2,h3,p,dl,dd,ul,ol,pre,form,input,textarea,th,td{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none; color:#404040;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
textarea{ resize:none; overflow:auto;}
a,input{ outline:none;}
a:hover{ color:#86152c;}
/* end reset.css */


/* banner.css */
.banner{ width:955px; height:410px; position:relative; overflow:hidden; margin:0 auto;}
.banner img{ width:955px; height:410px;}

.banner li{ position:absolute; left:0; top:0;}
/* end banner.css */
.btns{ position: absolute; left: 45%; bottom: 10px; z-index: 99;}
.btns a{ width: 10px; height: 10px; border-radius: 5px; background-color: #fff; margin-right: 10px; display: inline-block;}
.btns .active{ background-color: yellow;}